@model IEnumerable<QuanLyKhoHang.Models.Entities.HangHoa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoaiHang.TenLH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhomHang.TenNH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KichThuoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhoiLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HanSD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoSX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrinhTrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DinhMuc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiHang.TenLH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhomHang.TenNH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenHH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KichThuoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhoiLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HanSD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoSX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrinhTrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DinhMuc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHH })
        </td>
    </tr>
}

</table>
@section GiaoDich{
    <div style="padding:10px;">
        <h3><small>Tìm kiếm</small></h3>
        <input type="text" class="form-control" value="mã hàng, tên hàng" />
        <input type="text" class="form-control" value="mã hóa đơn" />
        <input type="text" class="form-control" value=" mã KH hoắc tên KH" />
        <input type="text" class="form-control" value="theo người tạo" />
        <h3><small>Lọc theo trạng thái</small></h3>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Đã hoàn thành
        </label><br />
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Đã hủy
        </label><br />
        <h3><small>Lọc theo thời gian</small></h3>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Toàn thời gian
        </label><br />
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Hôm nay
        </label><br />
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Tuần này
        </label><br />
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Tháng này
        </label><br />
       
            <div class="row">
                <div class='col-sm-5'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    defaultDate: "11/1/2013",
                    disabledDates: [
                        moment("12/25/2013"),
                        new Date(2013, 11 - 1, 21),
                        "11/22/2013 00:53"
                    ]
                });
            });
                </script>
           
        </div>
    </div>
}