@model QuanLyKhoHang.Models.Entities.DoiTac

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DoiTac</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaSoThue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSoThue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KieuDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KieuDT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section FirstMenu{
    <div style="padding:10px;">
        <h3><small>Tìm kiếm</small></h3>
        <input type="text" class="form-control" value="Tìm kiếm mặt hàng" />
        <h3><small>Loại hàng</small></h3>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Combo - đóng gói
        </label><br />
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Dịch vụ
        </label><br />
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Hàng hóa
        </label><br />
        <h3><small>Nhóm hàng</small></h3>
        <p>An empty street, an empty house</p>
    </div>