@model IEnumerable<QuanLyKhoHang.Models.Entities.DoiTac>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaSoThue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KieuDT)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSoThue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KieuDT)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaDT }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaDT }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaDT })
            </td>
        </tr>
    }

</table>
@section FirstMenu{
    <div style="padding:10px;">
        <h3><small>Tìm kiếm</small></h3>
        <input type="text" class="form-control" value="Tìm kiếm mặt hàng" />
        <h3><small>Loại hàng</small></h3>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Combo - đóng gói
        </label><br />
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Dịch vụ
        </label><br />
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Hàng hóa
        </label><br />
        <h3><small>Nhóm hàng</small></h3>
        <p>An empty street, an empty house</p>
    </div>
}