@model IEnumerable<QuanLyKhoHang.Models.Entities.CT_HoaDon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HangHoa.TenHH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoaDon.TenTK_NV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DVT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HangHoa.TenHH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoaDon.TenTK_NV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
@section GiaoDich{
    <div style="padding:10px;">
        <h3><small>Tìm kiếm</small></h3>
        <input type="text" class="form-control" value="mã hàng, tên hàng" />
        <input type="text" class="form-control" value="mã hóa đơn" />
        <input type="text" class="form-control" value=" mã KH hoắc tên KH" />
        <input type="text" class="form-control" value="theo người tạo" />
        <h3><small>Loại Hóa Đơn</small></h3>
        <input type="radio" name="loaihoadon" value="nhap"/>Hóa đơn nhập
        <br /><br />
        <input type="radio" name="loaihoadon" value="xuat"/>Hóa đơn xuất
        <br /><br />
        <input type="radio" name="loaihoadon" value="all" checked>Tất cả
        <h3><small>Lọc theo trạng thái</small></h3>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Đã hoàn thành
        </label><br />
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Đã hủy
        </label><br />
    </div>
}