@model IEnumerable<QuanLyKhoHang.Models.Entities.PhieuThuChi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoiTac.MaSoThue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoaDon.TenTK_NV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaTri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiPhieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thoigian)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DoiTac.MaSoThue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoaDon.TenTK_NV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaTri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiPhieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thoigian)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPH })
        </td>
    </tr>
}

</table>
